@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background: rgba(146, 240, 170, 0.3);
  color: rgb(55, 2, 15);
}

.links{
  text-align: left;
  word-spacing: 10px;
}

.links a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: rgb(21, 19, 227);
}

.links a:hover{
  color: rgba(222, 65, 65, 0.85);
}

.tudo{
  margin: auto;
  width: 900px;
  height: auto;
  text-align: center;
}

h2{
  margin: 40px;
}

p{
  font-size: 18px;
  text-align: justify;
}

.imagens{
  width: 900px;
  display: flex;
}

.imagens img{
  width: 300px;
  height: 200px;
  margin: 1px;
}

.preco{
  font-size: 15px;
}

.rodape{
  margin-bottom: 52px;
}
