@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: rgba(146, 240, 170, 0.3);
  color: rgb(55, 2, 15);
}

.logo{
  background-size: contain;
  width: auto;
  height: 300px;
  background: url(../img/pousada_logo.jpg);
}

.links{
  margin-top: 40px;
  text-align: center;
  word-spacing: 50px;
}

.links a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(21, 19, 227);
}

.links a:hover{
  color: rgba(222, 65, 65, 0.85);
}

h1{
  text-align: center;
  font-size: 40px;
  margin: 30px auto;
}

.descricao{
  margin: auto;
  width: 800px;
  height: auto;
  font-size: 18px;
  font-weight: 450;
  text-align: justify;
}

.localizacao{
  margin-top: 40px;
  font-size: 16px;
  width: 800px;
  height: auto;
}

.localizacao span{
  font-weight: 600;
}

.localizacao img{
  margin: 10px 100px;
  width: 600px;
}
