@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background: rgba(146, 240, 170, 0.3);
  color: rgb(55, 2, 15);
}

.links{
  text-align: left;
  word-spacing: 10px;
  position: fixed;
}

.links a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: rgb(21, 19, 227);
}

.links a:hover{
  color: rgba(222, 65, 65, 0.85);
}

.menu{
  margin-top: 30px;
  margin-left: 20px;
  position: fixed;
}

.menu h3{
  font-size: 20px;
  font-weight: bolder;
  color: rgba(10, 87, 31, 0.81);
}

.menu a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(10, 87, 31, 0.72);
  line-height: 22px;
}

.menu a:hover{
  color: rgb(230, 168, 33);
}

.container{
  width: 600px;
  height: auto;
  margin: auto;
  text-align: center;
}

.container h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

#academia{
  margin-top: 0;
  margin-bottom: 20px;
}

.container p{
  font-size: 18px;
}

.container img{
  margin-bottom: 1px;
  width: 600px;
  height: 450px;
}

.rodape{
  margin-bottom: 33px;
}
