
body{
  background: rgba(146, 240, 170, 0.3);
}

.tudo{
  margin: 40px auto;
  height: auto;
  width: 600px;
}

p{
  font-size: 13px;
}

#botao{
  margin-top: 30px;
  float: right;
  margin-bottom: 7%;
}

.input-group-text{
  margin-left: 1px;
}

.input-group-text:focus{
  outline: 0;
  border: 1px solid #ced4da;
}

.input-group-text:active{
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-file-label{
  overflow: hidden;
}
