
body{
  background: rgba(146, 240, 170, 0.3);
}

form{
  margin: 80px 130px;
}

.form-control{
  padding-right: calc(1.5em + 0.75rem);
}

.col-md-1-1 {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;
  }

.col-md-2-1 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
