@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background: rgba(55, 249, 225, 0.36);
}

.formularios{
  width: 450px;
  height: auto;
  margin: auto;
  text-align: right;
}

h1{
  font-size: 60px;
  text-align: center;

}

h2{
  font-size: 30px;
  text-align: center;
}

p{
  color: rgb(0, 59, 147);
  font-weight: 700;
}
